/* CSS for layout */

body nav {
  padding: 10px 20px;
  background-color: #2d2d2d;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body nav .logo, body nav .nav-links {
  display: block;
  font-size: 0;
  padding: 5px 0 0 0;
}

body nav .logo a {
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 5px;
}

body nav .nav-links {
  text-align: right;
}

body nav .nav-links ul, footer .nav-links ul, .single-main article .social-share ul {
  padding-left: 0;
  padding-top: 7px;
}

body nav .nav-links ul li, footer .nav-links ul li, .single-main article .social-share ul li {
  display: inline;
  margin-left: 20px;
}

body nav .nav-links ul li a , body nav .nav-links ul li a i {
  font-size: 15px;
  color: #fff;
  text-decoration: none;;
}

body .main .posts {
  max-width: 100%;
  display: grid;
  /*grid-template-columns: 33% 33% 33%;*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  padding: 8% 5%;
}

@media screen and (max-width: 1000px) {
  body .main .posts {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 767px) {
  body .main .posts {
    grid-template-columns:100%;
    padding: 10% 5%;
  }
}
